
body{
    background-color: #a6a6a6;
}

h1{
    /* Change the color of the text, background, font size etc. on the h1*/
    color: #ff7d00;
    background-color: #6a6a6a;
    text-align: center;
    font-weight: normal;
    font-size: 72px;
    padding-top: 20px;
    margin: 72px 36px 0;
}

img{
    display: block;
    margin: 0 auto; /*margin-värdet autocentreras bilden då marginalen automatiskt justeras till lika bred på båda sidor.*/
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10% 10% 10% 10%;
}

.mainText {
    background-color: #bfbfbf;
    padding: 12px;
    margin: 0px 36px;
    font-size: 18px;
}

ul.mainText{
    padding: 0 0 0 36px;
    padding-bottom: 12px;
}

table.mainText{
    border: solid black 2px;
    font-size: 22px;
}

th, td{
    text-align: left;
    padding: 6px;
}

a:link {
    color: #000000;
}

a:visited {
    color: #000000;
}

a:hover {
    color: #ff7d00; 
}

a:active {
    color: #FFFF00;
}
