body{
    background-color: #6a6a6a;
}

.content{
    float: left;
    width: 20vw;
    height: 20vw;
    margin: 2vw;
    border-radius: 2vw;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 6px 12px 3px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

#left {
    background-color: #a6a6a6;
}

#mid {
    background-color: #ff7d00;
}

#right {
    background-color: #a6a6a6;
}

#textBox{
    line-height: 5vw;
    margin: 2vw 26vw;
}

p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 8vw;
    font-weight: 300;
    color: #ff7d00;
    text-align: center;
}

